<div class="modal-content" id="disclaimerPopups">
    <h5 class="text-center">Important Information</h5>
    <div class="modal-body">
        <p>
        Since your subscription request is for an amount greater than or equal to Rs. 2 lac, the applicable NAV shall be
        based on receipt of
        credit into our account. We receive credit relatively faster if you use net banking as a payment option using the
        following banks:
        </p>
        
        
        <div class="imp-info clearfix">
            <div class="col-md-4" style="padding: 0px;">
                <p>
                <i class="dot"></i>
                <span>HDFC Bank</span>
                </p>
                <p>
                <i class="dot"></i>
                <span>State Bank of India&nbsp;(SBI)</span>
                </p>
                <p>
                <i class="dot"></i>
                <span>Kotak Mahindra Bank</span>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <i class="dot"></i>
                <span>ICICI Bank</span>
                </p>
                <p>
                <i class="dot"></i>
                <span>Yes Bank</span>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <i class="dot"></i>
                <span>Axis Bank</span>
                </p>
                <p>
                <i class="dot"></i>
                <span>IDBI Bank</span>
                </p>
            </div>
        </div>
        
        <p>
        In case you wish to subscribe through a bank other than those mentioned above, there could be a time lag in
        receipt of credit from
        the time of your account being debited to the time of receiving the funds into our scheme collection account.
        </p>
        
        <p>
        Alternatively, you could use Real Time Gross Settlement (RTGS) as a payment option for faster transfer of funds.
        Please <u class="cursor-pointer text-blue" ng-click="Modal.openLink()"> Click here </u> to
        know more on how to use RTGS for your investment?
        </p>
        <!--Forgot pwd-->
        <!--<p class="text-center">A link to reset your password has been sent to your registered email ID xyz@xyz.com</p>-->
        <button class="btn btn-primary-action btn-center" ng-click="Modal.closeModal()"> OK</button>
    </div>
</div>
