<div class="modal-header">
  <h4 class="modal-title">HDFC MF Online for Investors -
    Systematic Investment Plan (SIP)</h4>
  <i class="times-icon" ng-click="Modal.dismissModal();"></i>
</div>
<div class="modal-body">
  <h6 class="margin-none">
    I/WE HEREBY AGREE TO THE TERMS GIVEN BELOW:
  </h6>
  <br/>
  <ul>
    <li>
      I/We have read, understood and agree to abide by all the terms, conditions, rules and regulations relating to
      the respective Scheme(s), enrolment for SIP, and Direct Debit / Standing Instruction facilities or the One Time
      Mandate (OTM) facility as the case may be, under the Scheme Information Document(s), Statement of Additional
      Information, and the Key Information Memorandum of HDFC Mutual Fund as amended from time to time (hereinafter
      referred as "Offer Documents") (Please visit the "Download" section on our website "<strong>Offer
      Documents</strong>")(Please visit the "Download" section on our website <a
      href="http://www.hdfcfund.com/" target="_blank">
      http://www.hdfcfund.com/</a> to read), and hereby apply to the Trustee of HDFC Mutual Fund to register my/our SIP
      and to allot the Units of the said Scheme(s) of HDFC Mutual Fund, as indicated above. I hereby also confirm to
      have read, understood, and agree to abide by the Terms applicable to this Platform (Please <strong
      class="text-primary"
      ng-click="Modal.showGeneralTnc()"> click
      here </strong> to read).
    </li>
    <li>
      I / We have neither received nor been induced by any rebate or gifts, directly or indirectly, in making this
      investment.
    </li>
    <li>
      In accordance with SEBI Circular Cir/IMD/DF/13/2011 dated August 22, 2011, as amended from time to time, for
      purchases/subscriptions of Rs. 10,000/- and above through a Distributor, Transaction Charges shall be deducted
      from the subscription amount as follows:

      <ul class="type-circle">
        <li>
          Rs. 150/- for a first time investor across mutual funds; or
        </li>
        <li>
          Rs. 100/- for investor other than first time investor.
        </li>
        <li>
          No Transaction Charges shall be deducted: (a) if the Distributor has not opted to receive any Transaction
          Charges; or (b) for purchases/subscriptions under Direct Plan (i. e., not through a Distributor).
        </li>
      </ul>
    </li>
    <li>
      In case of investments through SIP, the transaction Charges are deductible, only if the total commitment of
      investment* is more than or equal to Rs. 10,000. In all such cases, the Transaction Charges shall be deducted in 3
      to 4 installments.
      * Amount per SIP installment x No. of installments

    </li>
    <li>
      The Distributor has disclosed to me/us all the commissions (in the form of trail commission or any other mode),
      payable to him/them for the different competing Schemes of various Mutual Funds from amongst which the Scheme is
      being recommended to me/us;
    </li>
    <li>
      I/We have not been offered/ communicated any indicative portfolio and/ or any indicative yield by the HDFC
      AMC/HDFC MF/ Distributor for this investment;
    </li>
    <li>
      Units will be allotted on the applicable dates subject to realization of funds where total SIP investments on a
      date amount to Rs. 2 lakh or more. In case the date falls on a Non Business Day or falls during a book closure
      period, the immediate next Business Day will be considered for the purpose of determining the applicability of NAV
      subject to the realization of proceeds;
    </li>
    <li>
      In case my/our OTM is not already registered, SIP Registration shall be completed only upon successful
      registration of auto debit instructions in favour of HDFC MF with my/our bank account for payment of SIP
      instalments. In case of my/our failure to complete the registration of auto debit instructions within  1 day
      from the date of registration for SIP on this Platform, HDFC AMC/HDFC MF shall reject my/our SIP registration
      and HDFC AMC/HDFC MF shall not liable for any loss or damage sustained by me/us on account of such rejection.
    </li>
  </ul>
  <br/>
  <p style="font-style: italic">
    The capitalised terms used but not defined herein shall have the same meaning ascribed to it under the general
    Terms and Conditions.
  </p>
</div>
